
#one {
    // margin-top: 20px;
}


.icon {
    // padding-top: 30px;
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nummbes {
    border-radius: 400px 400px 400px 400px;
    background: #b6b6b6;
    color: black;
    font-size: 25px;
    font-weight: 700;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bignummbes span {
    font-size: 13px;
}

.Bignummbes {
    border-radius: 400px 400px 400px 400px;
    background: #b6b6b6;
    color: black;
    font-size: 25px;
    font-weight: 700;
    width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.text {
    padding-left: 10px;
    // width: 80%;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.TEXT{   
    // border-radius: 10px;
    // border: 3px solid black;
    // margin-left: 400px;
    width: 650px;
    height: 617px;
    overflow: scroll;
}

 .gotcha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
 }
