.BackToMain {
    border-radius: 100px 100px 100px 100px;
    width: 60px;
    height: 60px;
    outline: none;
    background: #b8b8b8;
    color: black;
    padding-left: 13px;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 15px;
}

.OIL_NAME {
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    color: black;
}

.Tests p {
    font-weight: 700;
    font-size: 30px;
    color: #a8a8a8;
    padding-left: 280px;
    margin-top: 10px;
}

.CarTest span {
    color: black;
    padding-left: 103px;
}

.CarTest0 span {
    color: black;
    padding-left: 94px;
}

.Tests hr {
    width: 500px;
    color: #5d5d5d;
    margin-left: 280px;
}

.Pragriv {
    width: 1000px;
    font-weight: 600;
    font-size: 20px;
    color: #919191;
    padding-left: 280px;
}

.Pragriv1 {
    width: 1000px;
    font-weight: 600;
    font-size: 20px;
    color: #919191;
    padding-left: 375px;
}

.input_number_data {
    border-radius: 20px;
    padding-left: 25px;
    width: 170%;
    height: 80px;
    color: #5d5d5d;
    background: #dfdfdf;
    font-size: 20px;
    font-weight: 600;
    margin-left: 280px;
    margin-top: 15px;
}

.input_number_data1 {
    border-radius: 20px;
    padding-left: 25px;
    height: 80px;
    width: 230px;
    color: #5d5d5d;
    background: #dfdfdf;
    font-size: 20px;
    font-weight: 600;
    margin-left: 375px;
    margin-top: 15px;
}

.oil_marka p {
    font-weight: 600;
    font-size: 20px;
    color: #919191;
    padding-left: 280px;
    margin-top: 15px;
}

.oil_input {
    border-radius: 20px;
    padding-left: 25px;
    height: 80px;
    width: 500px;
    color: #5d5d5d;
    background: #dfdfdf;
    font-size: 20px;
    font-weight: 600;
    margin-left: 280px;
    margin-top: 15px;
}

.BACKK {
    margin-top: 20px;
    padding-left: 60px;
    margin-left: 280px;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    color: black;
    background-color: rgb(232, 232, 232);
}

.NEXTT {
    margin-top: 20px;
    padding-left: 60px;
    margin-left: 375px;
    border: none;
    border-radius: 25px;
    width: 220px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    bottom: 150px;
}