    // .back22 {
    //     border-radius: 100px 100px 100px 100px;
    //     width: 60px;
    //     height: 60px;
    //     outline: none;
    //     background: #b8b8b8;
    //     color: black;
    //     padding-left: 13px;
    //     // margin-left: 400px;
    //     font-size: 30px;
    //     margin-top: 20px;
    // }

    // .ALL{
    //     margin-left: -30px;
    // }

    // .Theme {
    //     font-size: 30px;
    //     font-weight: 600;
    //     padding-top: 25px;
    //     // margin-left: 545px;
    //     color: black;
    // }








    .SubstancesButton:focus {
        background: black;
    }

    .ThemsButton:focus {
        background: black;
    }




    .Themss {
        // border-radius: 10px;
        // border: 1px solid black;
        margin-top: 30px;
        color: black;
        // font-weight: 700;
        height: 594px;
        // font-size: 22px;
        overflow: scroll;
        margin-right: 30px;
    }

    .hr {
        // width: 97%;
        color: black;
    }

    .kkk{
        padding-top: 4px;
        font-size: 22px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }

    .againme{
        margin-top: 8px;
        // margin-left: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }