    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


.GAS{
.back {
    border-radius: 100px 100px 100px 100px;
    width: 60px;
    height: 60px;
    outline: none;
    background: #b8b8b8;
    color: black;
    padding-left: 13px;
    font-size: 30px;
    margin-left: 449px;
    margin-top: 20px;
}
.Ges {
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
    margin-left: 530px;
    color: black;
}
.ges_name p {
    font-size: 25px;
    font-weight: 600;
    padding-left: 460px;    
    color: #919191;
}
.ges_name input {
    width: 32%;
    height: 80px;
    margin-left: 460px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 30px;
    justify-content: center;
    font-weight: 600;
    background: #dfdfdf;
}
.Numbes_data p{ 
    margin-top: 20px;
}
.Numbes_data {
    margin-left: 460px;
}
.Year {
    font-size: 20px;
    font-weight: 600;
    width: 240px;
    color: #919191;
}
.year {
    padding-left: 150px;
    font-weight: 600;
    font-size: 20px;    
    width: 32%;
    color: #919191;
}
.Numbes_data input  {
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 15px;
}

.data {
    width: 300%;
    height: 80px;
    background: #dfdfdf;
    font-size: 30px; 
    font-weight: 600;  
}
.data_num {
    width: 270px;
    height: 80px;
    background: #dfdfdf;
    margin-left: 130px;
    font-weight: 600;
}

.INFO{
    font-weight: 600;
    margin-top: 25px;
    color: #919191;
    margin-left: 465px;
    width: 250px;
    font-size: 20px;  
}
.data_year_day0 {
    height: 80px;
    margin-left: 460px;
    font-weight: 600;
    width: 200px;
    color: #a8a8a8;
    background: #dfdfdf;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 15px;
}

.data_year_day1 {
    height: 80px;
    margin-left: 550px;
    font-weight: 600;
    width: 270px;
    color: #a8a8a8;
    background: #dfdfdf;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 15px;
}


.Back1 {
    padding-left: 60px;
    margin-left: 460px;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    color: black;
    background-color: rgb(232, 232, 232);
}

.Next1 {
    padding-left: 60px;
    margin-left: 600px;
    border: none;
    border-radius: 25px;
    width: 220px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    bottom: 150px;
}


.BackNext1 {
    margin-top: 10px;
}
}